/*vars and mixins */
@media (max-width: 500px) {
  width: 100%;
  height: 80px;
}
.border {
  border: 1px solid red;
}
/*general styles here*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Spartan', sans-serif;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
/*components here*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15vh;
  width: 100%;
  height: auto;
}
header .globe {
  display: flex;
  position: relative;
  right: 10%;
}
header .header1 {
  flex-direction: row;
}
.navtag {
  border: 2px solid red;
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}
.navtag a {
  text-decoration: none;
  font-size: 3rem;
  color: #470b97;
}
h1 {
  display: flex;
  text-align: center;
  margin: 5% 0;
}
footer {
  display: flex;
  justify-content: center;
  margin: 5%;
}
footer P {
  color: #0f2bce;
  font-size: 2.5rem;
}
.centerstage {
  display: flex;
  background-image: linear-gradient(to bottom, rgba(71, 11, 151, 0.4), rgba(161, 103, 121, 0.4), transparent), url(../imiges/anna.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: max-content;
  height: 50vh;
}
.centerstage .centerstagetext {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  color: #FFFFFF;
  margin: 0 5%;
}
.placee-holder-for-thinking-code {
  display: flex;
  flex-direction: column;
}
.placee-holder-for-thinking-code .mapfull {
  display: flex;
  flex-direction: column;
}
.placee-holder-for-thinking-code .mapfull .mapimg {
  border-radius: 50%;
  margin: 5% 0 0 0;
  position: static;
}
.placee-holder-for-thinking-code .thinkingcode {
  position: relative;
  bottom: 40px;
  margin: 0 0 0 2%;
}
.placee-holder-for-thinking-code .thinkingcode h2 {
  color: #aa25c1;
}
.placee-holder-for-thinking-code .thinkingcode p {
  color: #a16779;
}
.placee-holder-for-thinking-code .thinkingcode .p0 {
  margin: 0 0 0 5%;
}
.placee-holder-for-thinking-code .thinkingcode .p1 {
  margin: 0 0 0 10%;
}
.box .prop,
.box .Investor,
.box .Tourism {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box .prop P,
.box .Investor P,
.box .Tourism P {
  text-align: left;
  color: #a16779;
}
.box h2 {
  font-weight: bold;
  color: #aa25c1;
}
.trusted {
  display: flex;
  flex-direction: column;
}
.trusted .trusttext {
  display: flex;
  justify-content: center;
  color: #a16779;
}
.trusted .trustedimg {
  display: flex;
  flex-direction: row;
  max-width: 50%;
}
#headerabt {
  display: flex;
  align-items: center;
  height: 15vh;
  text-align: center;
  width: 100%;
  margin: 5% 0;
}
#headerabt .globeabt {
  width: 10% !important;
  height: 10% !important;
  margin: 2% 0;
}
#headerabt .header1abt {
  border: 2px sold red;
  display: flex;
  flex-direction: row;
  margin: 0;
}
#headerabt .header1abt h1 {
  display: flex;
  text-align: center;
  margin: 5% 0;
}
.navtagabt {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}
.navtagabt a {
  text-decoration: none;
  font-size: 3rem;
  color: #470b97;
}
#bodyabout p {
  font-size: 2rem;
}
.whoweare {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.whoweare h1 {
  margin: 3% 0;
}
.about img {
  border-radius: 50%;
  margin: 5% 0;
}
.about .globeabout {
  border: 2px solid red;
  display: flex;
  justify-content: center;
}
.about .projecthead {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .projecthead img {
  height: auto;
  width: 40%;
}
.about .projecthead h2 {
  margin: 5% 0;
}
.about .webb {
  display: flex;
  height: 50vh;
}
.about .webb img {
  height: auto;
  width: 90%;
}
.about .DataS {
  display: flex;
}
.about .DataS img {
  height: auto;
  width: 90%;
}
.about .Riley,
.about .Ronald,
.about .Isaac,
.about .Daniel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50vh;
}
.about .Riley h2,
.about .Ronald h2,
.about .Isaac h2,
.about .Daniel h2 {
  margin: 15% 0;
}
.about .Nick,
.about .Neal,
.about .Julie,
.about .Amer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50vh;
}
.about .Nick h2,
.about .Neal h2,
.about .Julie h2,
.about .Amer h2 {
  margin: 10% 0;
}
footer {
  display: flex;
  justify-content: center;
  margin: 5%;
}
footer P {
  color: #0f2bce;
  font-size: 2.5rem;
}
