#headerabt{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15vh;
    width: 100%;
    height: auto;
   

    .globeabt{
       
        display: flex;
       position: relative;
       right:10%;
    }

    .header1abt{
        
        flex-direction: row;
        

        h1{
           
            display: flex;
            text-align: center;
            margin: 5% 0;
            color: @blue;
        }

    }

}

.navtagabt{
     
display: flex;
justify-content: space-evenly;
margin: 5% 0;

    a{ 
        
        text-decoration: none;
        color: @darkpurple;
    }

}