#bodyabout{
    p{
        font-size: 2rem;


        @media @phone{
            width: 100%;
            font-size: .75em;
        }

    }
}

.whoweare{

    .disflex();
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .textcenter();
        background-image: linear-gradient(to bottom, rgba(71 ,11 ,151,.40),rgba(161,103,121,.40) , transparent) , url(../imiges/rahul.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .width100();
        height: 80vh;

        @media @phone{
            .width100();
            height: auto;
        }

            h1{
                margin: 0 0 2% 0;
                color: @white;

                @media @phone{
                    .disflex();
                    justify-content: center;
                    .width100();
                    font-size: 1.5em;
                    
                }  

                }
            #p1{
                 color: @white;
                 margin: 0 0 15% 0;
                
                 @media @phone{
                    .width100();
                    font-size: .75em;
                    margin: 0 0 50% 0;
                }  
                
                }
}

.about{

        img{
            border-radius: 50%;
            margin: 5% 0;
        
        }

        

    .projecthead{
        .disflex();
            flex-direction: column;
            align-items: center;
        
                    
                img{
                    height: auto;
                    width: 40%;

                    @media @phone{
                        position: static;
                    }
                }

                h2{
                    margin: 0 0 1% 0;
                    color: @violet;

                    @media @phone{
                        .disflex();
                        justify-content: center;
                        .width100();
                    }

                }
                p{
                    font-size: 2em;
                    margin: 0 0 2% 0;
                    color:@lightgreyred;

                    @media @phone{
                        .disflex();
                        justify-content: center;
                        .width100();
                    }
            
                }


                @media @phone{
                    .width100();
                }
    }

    .webb{
        .disflex();
        .width100();
        height: auto;
        margin: 5% 0 0 0;

                p{
                    font-size: 2rem;
                    color:@lightgreyred;
            
                }

                img{
                
                    height:auto;
                    width: 90%;

                    @media @phone{
                        height: auto;
                        width: 40%;
                    }
                }
    
                @media @phone{
                   
                    flex-direction: column;
                    justify-content: center;
                    .width100();
                    height:auto;
                    margin: 0;
                }

    }

    .DataS{
        .disflex();
        .width100();
        height: auto;

                p{
                    font-size: 2rem;
                    color:@lightgreyred;
            
                }

                img{
                
                    height:auto;
                    width: 90%;

                    @media @phone{
                        height: auto;
                        width: 40%;
                    }
                }


                @media @phone{
                    height: auto;
                    .width100();
                    flex-direction: column;
                }
    }

    .Riley, .Ronald, .Isaac, .Daniel{
        .disflex();
        flex-direction: column;
        align-items: center;
        .textcenter();
        height:auto;


                h2{
                    margin: 15% 0;
                    color: @violet;
                }
        }

    .Nick, .Neal, .Julie, .Amer{
 
        .disflex();
        flex-direction: column;
        align-items: center;
        .textcenter();
        height:auto;

                h2{
                    margin: 10% 0;
                    color: @violet;
                }
            }
}