.centerstage{
    display: flex;
    background-image: linear-gradient(to bottom, rgba(71 ,11 ,151,.40),rgba(161,103,121,.40) , transparent) , url(../imiges/anna.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: max-content;
    height: 50vh;

    .centerstagetext{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        color: @white;

    }
}

.placee-holder-for-thinking-code{
    display: flex;
    flex-direction: column;
    
.mapfull{
    display: flex;
    flex-direction: column;


.mapimg{
    border-radius: 50%;
    margin: 10% 0;
  }   
 }
}
