header{
    display: flex;
    justify-content: space-evenly;
    height: 15vh;
    text-align: center;
    width: 100%;
    margin: 5% 0;

    .header1{
        border: 1px solid red;
        display: flex;
        flex-direction: row;
        margin:0;

        h1{
            display: flex;
            text-align: center;
            margin: 5% 0;
        }

    }
    .navtag{
        border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;

        a{
            text-decoration: none;
            font-size: 2rem;
        }

    }
}
