header{
    .headerstyl();

    
    @media @phone{
        .width100();
    }
   
   .globe{
       
    .disflex();
       position: relative;
       right:10%;

       
    @media @phone{
        .width100();
        display: none;
    }
   }

   

}

.navtag{
        
    .disflex();
        justify-content: space-evenly;
        margin: 5% 0;
        

    a{ 
        text-decoration: none;
        color: @darkpurple;
    }

    @media @phone{
        .width100();
        
    }

}

h1{
   
    .disflex();
    .textcenter();
    color: @blue;
    margin: 5% 0;

    @media @phone{
        .width100();
    }
}